<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karasuno Blog</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <h1><a href="/">飛べ</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/players">Players</a></li>
                <li><a id="featured" href="/create">Create</a></li>
            </ul>
        </nav>
    </header>
